In [1]:
import pandas as pd
alumnos = pd.DataFrame({
'Nombre': ['Ary', 'Katia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
'Edad': [15, 27, 56, 32, 42, 21, 19, 35], 
'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
'Aprobado': [True, False, False, True, True, True, False, False]},
columns = ['Nombre', 'Edad', 'Sexo', 'Notas', 'Aprobado'])

In [2]:
alumnos

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
1   Katia    27    F    2.5     False
2   Denis    56    M    5.0     False
3    Beto    32    M   10.0      True
4   Bruna    42    F    8.2      True
5    Dara    21    F    7.0      True
6  Carlos    19    M    6.0     False
7   Alice    35    F    5.6     False

In [3]:
seleccion = alumnos['Aprobado'] == True  #Cree un DataFrame sólo con los estudiantes aprobados.
aprobados = alumnos[seleccion]
aprobados

  Nombre  Edad Sexo  Notas  Aprobado
0    Ary    15    M    7.5      True
3   Beto    32    M   10.0      True
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

In [4]:
seleccion = (alumnos.Aprobado == True) & (alumnos.Sexo == 'F')  #Cree un DataFrame sólo con las estudiantes aprobadas.
aprobadas = alumnos[seleccion]
aprobadas

  Nombre  Edad Sexo  Notas  Aprobado
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

In [5]:
seleccion = (alumnos.Edad > 10) & (alumnos.Edad < 20) | (alumnos.Edad >= 40)  #Cree sólo una visualización de los alumnos con edades entre 10 a 20 años o con edad mayor/igual a 40 años.
alumnos[seleccion]

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
2   Denis    56    M    5.0     False
4   Bruna    42    F    8.2      True
6  Carlos    19    M    6.0     False

In [6]:
seleccion = alumnos['Aprobado'] == False   #Cree un DataFrame sólo con los estudiantes reprobados y mantenga en este DataFrame sólo las columnas Nombre, Sexo y Edad, en este orden.
reprobados = alumnos[['Nombre', 'Sexo', 'Edad']][seleccion]
reprobados

   Nombre Sexo  Edad
1   Katia    F    27
2   Denis    M    56
6  Carlos    M    19
7   Alice    F    35

In [7]:
seleccion = alumnos['Aprobado'] == False  #Cree un DataFrame sólo con los estudiantes reprobados y mantenga en este DataFrame sólo las columnas Nombre, Sexo y Edad, en este orden.
reprobados = alumnos.loc[seleccion, ['Nombre', 'Sexo', 'Edad']]
reprobados

   Nombre Sexo  Edad
1   Katia    F    27
2   Denis    M    56
6  Carlos    M    19
7   Alice    F    35

In [8]:
alumnos.sort_values(by = ['Edad'], inplace = True)  #Crea una visualización con los tres alumnos más jóvenes.
alumnos.iloc[:3]

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
6  Carlos    19    M    6.0     False
5    Dara    21    F    7.0      True